<!DOCTYPE html>
<html>
<head>
    <title>New Document</title>
    <link rel="stylesheet" href="/public/css/NewDocument.css">
</head>
<body>

<div class="form-container">
    <h3>Add New Document</h3>
    <form action="/submit" method="post">
        <label for="docId">Document ID:</label>
        <input type="text" id="docId" name="id" required>

        <label for="docName">Document Name:</label>
        <input type="text" id="docName" name="name" required>

        <label for="recentDate">Recent Date:</label>
        <input type="date" id="recentDate" name="recentDate" required>

        <label for="recentTime">Recent Time:</label>
        <input type="time" id="recentTime" name="recentTime" required>

        <label for="recentPlace">Recent Place:</label>
        <input type="text" id="recentPlace" name="recentPlace" required>

        <label for="prevDate">Previous Date:</label>
        <input type="date" id="prevDate" name="previousDate" required>

        <label for="prevTime">Previous Time:</label>
        <input type="time" id="prevTime" name="previousTime" required>

        <label for="prevPlace">Previous Place:</label>
        <input type="text" id="prevPlace" name="previousPlace" required>

        <button class="button" type="submit">Submit</button>
    </form>
</div>

<div>
    
</div>

</body>
</html>
